.header li *{
    text-decoration: none;
}

span{
    text-decoration: underline;
}

.header li{
    display: inline-block;
    margin-left: 20px;
    font-size: large;
}


.header li a:hover{
    text-decoration: underline;   
}